html, body { 
   margin:0;
   padding:0;
} 
#contenitore { 
    width:1200px; 
    margin: 0 auto;
    padding: 0;
} 
#header { 
    width:1200px;
    height:90px; 
    background: url(images/logo.png) no-repeat left top;
    margin-top: 20px;
} 
.header_top {
    text-align:center;   
    background-color: black;
    width: auto;
}     
.header_top ul {
    text-align:center;
    background-color: violet;
    list-style-type:none;      
}     
.header_top ul li{ 
    float:right; 
    width:120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #009933; 
    color: blue;
    font-family: sans-serif;      
   } 
.header_top ul a:link , ul a:visited{ 
    display:block; 
    padding:10px; 
    text-decoration:none; 
    color: white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
    }
.header_top ul a:hover {
    background-color: #ff9900; 
} 
.header top ul li{ 
    float:left; 
    width:120px; 
}
.header_top2{    
    text-align:center;   
    width: auto;}
.header_top2 ul{    
    text-align:center;
    list-style-type:none;}
.header_top2 ul li{
    float: right; 
    width:170px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 130px;
    color:blue;
    font-family: sans-serif;  }
#menuOr { 
    text-align:center;
    
} 
#menuOr ul { 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    list-style-type:none; 
} 
#menuOr ul a:link , ul a:visited{ 
    display:block; 
    padding:18px; 
    text-decoration:none; 
    color:white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
} 
#menuOr ul a:hover {
    background-color: #ff9900; 
} 
#menuOr ul li{ 
    float:left; 
    width:auto;
   
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}
.searchbar  {
    float: right;
    width: 170px;
    padding: 9px;
    padding-right: 50px;
    margin-right: 20px;
    margin-left: 60px;
    border: 1px solid grey;
    margin-top: 10px;
   
}
.searchbutton  {
  float: next;
  width: 35px;
  padding-top: 20px;
  padding-bottom: 11px;
  background: url(images/search4.png) no-repeat center;
  background-color: white;
  font-size: 30px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right: -550px; 
}
.searchbutton:hover{
    background-color:  #ff9900;
}
.fa-search:hover {
    background-color:  #ff9900;
}
.content{     
    
    height:auto;
    width:1200px; 
} 

#home_page{
    background: url(images/ospedale_ext1.png);
  height:600px; 
  width:1200px;   

}
.home_title{
    padding-top: 30px; 
    margin-bottom: 20px; 
    margin-left: 60px; 
    font-size: 40px; 
    font-family:sans-serif; 
    text-shadow:   2px  2px 4px #777; 
    color: white;  
}
.home_text{
    text-align: justify;
    background: rgba(0,0,0,0.4);
    margin-top: 140px; 
    margin-left: 620px; 
    font-size: 25px; 
    font-family:sans-serif; 
    text-shadow:   2px  2px 4px #777; 
    color: white;
    
}
.hr{
   color: white; 
   size: 2px;
   width: 400px; 
   margin-left: 60px; 
}
.home_box{
   float: right;
  
}
.servicebutton{
    float: right;
    font-size: 20px; 
    margin-left: 120px;
    margin-right: 40px;
    margin-top: -80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white; 
    background-color: #009933;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid green;
    text-decoration:none; 
}
.servicebutton:hover{
    background-color: #ff9900;
   }

#footer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333333; 
    clear:left; 
    height:330px; 
    width:100%;
}
.tabellaorari {
    float:next;
    font-family:sans-serif;
    text-transform:uppercase; 
    width: 400px;
    height:250px;
    border: 1px solid white;
    background-color: #999999;
    text-align: center;
    color: white;
}
.mappafooter{
    float:next;
    width:400px;
    height: 250px;
    
        
}
.mappa_footer_text{
     
    background-color:transparent;
    margin-left:50px;
    padding-top: 210px;
    width:300px;
    height:30px;
    text-align: center;
    font-family: sans-serif; 
    font-weight: bold;
}
.box0{

    float:left;  
    margin-left:2px;
    margin-top:30px;
    width:170px;
    height:250px;
    border-right: 30px solid transparent;
    text-align: center;
}
.box0_img{
    
    margin-top: 30px;
    margin-left: 40px;
    width:200px;
    height:100px;
    background: url(images/logo.png) no-repeat;
    
}
.box0_text{
    font-size: 14px;    
    color: white;
    line-height: 2.14;
    margin-top: 25px;
    font-family: sans-serif; 
    margin-left: 45px;
}
.box1{
    
   margin-top: 30px;
   border-right: 30px solid transparent;
   margin-left: 45px;
}
.box2{
    
    margin-top: 30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.static {
    height:600px; 
    width:1200px;
    backgrounds-color: white;
    padding: 60px 20px 20px 20px;        
}
.staticwho{
  height:600px; 
  width:1200px;
  backgrounds-color: white;
  background: url(images/dottori.png); 
}
.staticwho h1{
    margin-top: 3px;
    font-family: sans-serif;
    color: #009933;
    font-size: 30px;
}
.staticwho p{
    margin-top: 0;
    margin-left: 90px;
    margin-right: 90px;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    text-align: justify;
    
}
.staticcontact{
  height:600px; 
  width:1200px;
  background: url(images/sfondo_mail.png);
  
}

.statichelp{
  height:600px; 
  width:1200px;
}

.staticservices{
    width:1200px;
    height:auto;
    background-color: white;
    background-size: cover;
    
}
.staticservices contenuto{
    width:1200px;
    height:404px;   
}
.staticservices h1{
    margin-top: 3px;
    margin-left: 65px;
    font-family: sans-serif;
    color: #009933;
    font-size: 30px;
}
.staticservices center{
    height:50px;
}
.staticservices p{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
}
#desc_services{
    height:100px;
    width:1000px;
    margin-left: 100px;
   
}
#box_services{
    display: flex;
    flex-direction: row;
    justify-content:center;
    height:100px;
}
#icon_box{
   width:120px;
   height:120px;
   background: url('images/cardiotrasp_icon.png') no-repeat center;
   background-size: cover;       
}
#icon_box2{
   width:120px;
   height:120px;
   background: url('images/gastrotrasp_icon.png') no-repeat center;
   background-size: cover;
   margin-top: 10px;
        
}
#icon_box3{
   width:100px;
   height:100px;
   background: url('images/ocutrasp_icon.png') no-repeat center;
   background-size: cover;
   margin-top: 10px;
   margin-right: 15px;       
}
#icon_box4{
   width:100px;
   height:100px;
   background: url('images/denttrasp_icon.png') no-repeat center;
   background-size: cover;
   margin-top: 10px;
   margin-right: 15px;       
}
#icon_box5{
   width:100px;
   height:100px;
   background: url('images/radiotrasp_icon.png') no-repeat center;
   background-size: cover;
   margin-top: 10px;
   margin-right: 15px;       
}


#icon_title{
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top:35px;
    margin-bottom:35px;
    margin-right:35px;
    margin-left:none;
    color:#00b209;
}

#box_services2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 15px;
     
}
#text_services{
    font-family: sans-serif;
    font-size: 25px;
    width:50%;
    text-align:center;
    margin-left: 15px;
    text-align: justify;
    
}
#text_services p{
    color:#00b209;
    
}
#doctors_services{
    font-family: sans-serif;
    font-size: 25px;
    width:50%;
}
#doctitle_serv{
    color:#00b209;
}
div.box-innerserv
{
     width: 1200px;    
     height: 351px;
     overflow:auto;
     margin:25px 0 0;
     padding-right:-2px
}
.staticdoctors{
  height:600px; 
  width:1200px;
}

.staticlogin {
  height:auto; 
  width:1200px;
  font-family: sans-serif;
  margin-top: -27px;
  background: url(images/login3.png) no-repeat ; 
}
.staticlogin h1 {
  font-family: sans-serif;
  color: #009933;
  font-size: 35px;
  margin-left: 60px;
  margin-top: 27px;
  padding-top: 60px;
}

.staticlogin {
  height:auto; 
  width:1200px;
  font-family: sans-serif;
  background-color: white;
}

.staticlogin p {
  font-size: 30px; 
  font-family: sans-serif;
  margin-left: 60px;
}
table.zend_form{
    margin-left: 195px;
    margin-top: 30px;
}
#login{
    color: red;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 50px;  
}
#login label {
    color: black;
    font-size: 30px;
    margin-top: 35px;
    margin-left: -20px; 
}
table.zend_form input#username{
    color: black;
    font-size: 25px;
    margin-top: 5px;
    margin-left: -360px;
}
 table.zend_form input#password {
    color:black;
    font-size: 25px;
    margin-top: 5px;
    margin-left: -360px;    
    margin-top: 10px;
}
input#submit {
    color:white;
    font-size: 30px;
    margin-top: 45px;
    margin-left: 380px;
    cursor: pointer;
    background-color:#009933; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
input#submit:hover{
    background-color: #ff9900;
   }
.registerbox{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    
   
}
.registerbox1{
    float: next;
    width: 420px;
    height: 90px;
    margin-left: 10px;
}
.registerbox p{
  font-size: 25px; 
  font-family: sans-serif;
  margin-left: 25px;
 
 
    }
 .registerbox2{
    float: bottom;
    width: 200px;
    height: 90px;  
    margin-top: 30px;
    margin-left: 5px;
}

.registerbutton{
    
    margin-left: 0px;
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 25px;
    color: white; 
    background-color: #009933;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid green;
    text-decoration:none; 
}
.registerbutton:hover{
    background-color: #ff9900;
   }


#doc_page{
    width:1200px;
    height:600px;
}

.staticdoctors h1{
    margin-top: 3px;
    font-family: sans-serif;
    color: #009933;
    font-size: 30px;
}
#desc_doc{
    margin-top: -25px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    font-size: 25px;
}

.contenutodoc{
    width:1200px;
    margin-top: 70px;
    
}
#colonnadx{
    width:50%;
    
    float: right; 
}
#colonnasx{
  
    width:50%;
    
    float:left;

}
#box_doc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:600px;
    height:300px;
    margin:20px;
  
}
#img_doc1{
    width:264px;
    height:276px;
    background-image: url('images/team-3.jpg');
    margin:10px;
   
}
#img_doc2{
    width:264px;
    height:276px;
    background-image: url('images/team-1.jpg');
    margin:10px;
   
}
#img_doc3{
    width:264px;
    height:276px;
    background-image: url('images/team-2.jpg');
    margin:10px;
   
}
#img_doc4{
    width:264px;
    height:276px;
    background-image: url('images/team-4.jpg');
    margin:10px;
   
}

#textbox_doc{
    width:264px;
    height:276px;
    margin:10px;
}
#text_doc{
    width:90%;
    height:80%;
    font-family:sans-serif; 
    font-size: 25px;
    padding:50px; 
    text-align:center;
    margin-left:-40px;
}
div.box-innerdoc
{
     width: 1200px;    
     height: 310px;
     overflow:auto;
     margin:25px 0 0;
     padding-right:-2px
}
.staticcontact h1{
    margin-top: 3px;
    font-family: sans-serif;
    color: #009933;
    font-size: 40px;
}

.labelform {
  font-family: Arial, Helvetica, sans-serif;
}
#login .labelform, .inputform[type=text] {
  display: block;
  box-sizing: border-box;
  width: 80%;
}
textarea{
  display: block;
  box-sizing: border-box;
  height:150px;
  width: 80%;
}
.inputform[type=text], textarea {
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

.inputform[type=submit] {
  background-color: #009933;
  color: #FFF;
  padding: 15px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

.inputform [type=submit]:hover {
  background-color: #ff9900;
}
.staticfaq{
  height:600px; 
  width:1200px;
  background: url(images/faq6.png);
  
}
.staticfaq h1{
  font-family: sans-serif;  
  color: #009933;
  margin-top: -10px;
  font-size: 30px;
}
.staticfaq h2{
   font-family: sans-serif; 
   color: #009933;
   margin-top: -25px;
}
.faqbox{
    padding-left: 50px;
    padding-right: 250px;
    padding-top: 30px;
    margin-left: 190px;
    margin-top: -30px;
    
}
.questionbox  {
  /*background: rgba(246, 246, 246, 1);*/
  color: black;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  cursor:pointer;
  border: 1px solid black;
  background-color: white;
  
}
span{ 
    margin-left: 30px;    
    font-family: sans-serif;
    font-size: 20px;
}
#tasto1+label{
display: block;
width: 20px;
heigth: 20px;
line-height: 20px;
text-align: center;
background: black;
cursor: pointer;
}
#tasto1,.nascosto1{ 
    display: none; 
    font-family: sans-serif; 
    margin-left: 65px;
    margin-top: 5px;
    font-size: 20px;
    
}
#tasto1+label:after{ 
    content:"+";
    color: white;
}
#tasto1:checked+label:after{ content:"-"; }
#tasto1:checked~.nascosto1{ display: block; }


#tasto2+label{
display: block;
width: 20px;
heigth: 20px;
line-height: 20px;
text-align: center;
background: black;
cursor: pointer;
}
#tasto2,.nascosto2{ 
    display: none; 
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 65px;
    font-size: 20px;
    
}
#tasto2+label:after{ 
    content:"+"; 
    color: white;
}
#tasto2:checked+label:after{ content:"-"; }
#tasto2:checked~.nascosto2{ display: block; }

#tasto3+label{
display: block;
width: 20px;
heigth: 20px;
line-height: 20px;
text-align: center;
background: black;
cursor: pointer;

}
#tasto3,.nascosto3{ 
    display: none; 
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 65px;
    font-size: 20px;
    
}
#tasto3+label:after{ 
    content:"+";
    color: white;
}
#tasto3:checked+label:after{ content:"-"; }
#tasto3:checked~.nascosto3{ display: block; }

#tasto4+label{
display: block;
width: 20px;
heigth: 20px;
line-height: 20px;
text-align: center;
background: black;
cursor: pointer;
}
#tasto4,.nascosto4{ 
    display: none; 
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 65px;
    font-size: 20px;
    
}
#tasto4+label:after{ 
    content:"+";
     color: white;
}
#tasto4:checked+label:after{ content:"-"; }
#tasto4:checked~.nascosto4{ display: block; }

#tasto5+label{
display: block;
width: 20px;
heigth: 20px;
line-height: 20px;
text-align: center;
background: black;
cursor: pointer;
}
#tasto5,.nascosto5{ 
    display: none; 
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 65px;
    font-size: 20px;
    
}
#tasto5+label:after{ 
    content:"+";
    color: white;
}
#tasto5:checked+label:after{ content:"-"; }
#tasto5:checked~.nascosto5{ display: block; }

div.box-innerfaq
{
     width: auto;    
     height: 600px;
     overflow:auto;
     padding-right:-2px
}
.staticregistra{
    height:auto;
    width:1200px;
}

.staticregistra h1{
    margin-bottom: -20px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: green;
}
.staticregistra h2 {
    text-align: center;
    font-size: 30px;
    }
#desc_reg{
    height:-30px;
   width:1200px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
#desc_reg2{
    height: 20px;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}
.regform{
    text-align: center;
    font-size: 20px;
    align-content: center;
    
}
.regform input{
    height: 30px;
    width:300px;
    
}
.regform input[type=radio]{
    height: 20px;
    width:20px; 
    margin-right: 20px;
    margin-left: -35px;
 
    
}
.regform input[type=submit]{
    height: 50px;
    width:auto;
    margin:10px;
    background-color: #009933;
  color: #FFF;
  padding: 15px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
    
}
.regform label {
    font-family: sans-serif;
   text-align: center;
    font-size: 20px;
    margin-left:40px;
    
}
#corniceform{
    width:800px;
    height: auto;
    border: solid green;
    border-width: 5px;
    align-content:center;
     border-spacing: 0;
     padding:30px;
}

.regform dt{
    padding:10px;
}
#tabellaFaq{
   
    width:1000px;
   font-family: sans-serif;
}
.header_topadmin {
    text-align:center;   
    background-color: black;
    width: auto;
}     
.header_topadmin ul {
    text-align:center;
    background-color: violet;
    list-style-type:none;      
}     
.header_topadmin ul li{ 
    float:right; 
    width:120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #009933; 
    color: blue;
    font-family: sans-serif;      
   } 
.header_topadmin ul a:link , ul a:visited{ 
    display:block; 
    padding:10px; 
    text-decoration:none; 
    color: white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
    }
.header_topadmin ul a:hover {
    background-color: #ff9900; 
} 
.header topadmin ul li{ 
    float:left; 
    width:120px; 
}
.header_top2admin{    
    text-align:center;   
    width: auto;}
.header_top2admin ul{    
    text-align:center;
    list-style-type:none;}
.header_top2admin ul li{
    float: right; 
    width:170px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 200px;
    color:blue;
    font-family: sans-serif;  }
#menuOradmin { 
    text-align:center;
    background-color: #009933;
} 
#menuOradmin ul { 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    list-style-type:none; 
} 
#menuOradmin ul a:link , ul a:visited{ 
    display:block; 
    padding:18px; 
    text-decoration:none; 
    color:white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
} 
#menuOradmin ul a:hover {
    background-color: #ff9900; 
} 
#menuOradmin ul li{ 
    float:left; 
    width:auto; 
    
}
.searchbaradmin  {
    float: next;
    width: 130px;
    padding: 9px;
    margin-right: 2px;
    border: 1px solid grey;
    margin-top: 10px;
}
.searchbuttonadmin  {
  float: next;
  width: 35px;
  padding-top: 20px;
  padding-bottom: 11px;
  background: url(images/search4.png) no-repeat center;
  background-color: white;
  font-size: 30px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right: -250px; 
}
.searchbuttonadmin:hover{
    background-color:  #ff9900;
}
.fa-searchadmin:hover {
    background-color:  #ff9900;
}


.tabfaq table {
    width: inherit;
    margin-left: 80px;
    font-family: sans-serif;
}
#tabellafaq tr th {
    font-family: sans-serif;

}

.tabfaq th {
    border-bottom: 5px solid #dc1126;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}

.tabfaq td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 8px;
}    
#contentbutton{
        display: block;
        margin: auto;
        width: auto;
        margin-top: 20px;
        margin-left: 380px;
    }

.insertButton { 
    margin-top: 10px;
    margin-left: 30px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #dc1126;
    }
#contentviewadmin h1{
    font-family: sans-serif;
    color: #dc1126;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    }
#contentadminindex{
     width: auto;    
     height: 600px;
     background-image: url(images/adminarea2.png);
    }
#contentadminindex h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #dc1126;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
} 
#contentadminindex p{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 120px;
    text-align: center;
} 
#contentadmin h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #dc1126;
    margin-top: 20px;
    text-align: center;
} 
#contentadmin h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #dc1126;
    margin-top: 20px;
    text-align: center;
} 
#contentadmin p{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
} 
.contentadmin2 h1{
    font-size: 30px;
    font-family: sans-serif;
    color: #dc1126;
    margin-top: 30px;
    }
    
 .textToCenter {
    text-align: center;
}

.textToCenter p {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 1px;
}
.staticregistrazione{
     width: auto;    
     height: 600px;
    text-align: center;
    font-family: sans-serif;
}
.staticregistrazione h2{
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;
    color: green;
    }
#formform{
        text-align: center;
        margin-left: 300px;       
        font-family: sans-serif;
    }
#editfaq{
        text-align: center;
        margin-left: 200px;       
        font-family: sans-serif;
    }
#insertfaq{
        text-align: center;
        margin-left: 200px;       
        font-family: sans-serif;
    }
#editreparti{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#insertreparti{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#editreparti table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#insertreparti table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#editstaff{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#insertstaff{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#editstaff table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#insertstaff table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#edituser{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#edituser table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#editprestazioni{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#insertprestazioni{
        text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#editprestazioni table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#insertprestazioni table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
#formform table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
    
.formerror {
    background: none repeat scroll 0 0 #FFECEC;
    border: 3px solid #f93d00;
    height: auto;
    margin: 0 0 1px;
    text-align: center;

     }
     
.errors {
	color: #f93d00;
}

.errors ul {
	line-height: 100%;
}
.header_topstaff {
    text-align:center;   
    background-color: black;
    width: auto;
}     
.header_topstaff ul {
    text-align:center;
    background-color: violet;
    list-style-type:none;      
}     
.header_topstaff ul li{ 
    float:right; 
    width:120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #009933; 
    color: blue;
    font-family: sans-serif;      
   } 
.header_topstaff ul a:link , ul a:visited{ 
    display:block; 
    padding:10px; 
    text-decoration:none; 
    color: white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
    }
.header_topstaff ul a:hover {
    background-color: #ff9900; 
} 
.header topstaff ul li{ 
    float:left; 
    width:120px; 
}
.header_top2staff{    
    text-align:center;   
    width: auto;}
.header_top2staff ul{    
    text-align:center;
    list-style-type:none;}
.header_top2staff ul li{
    float: right; 
    width:170px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 200px;
    color:blue;
    font-family: sans-serif;  }
#menuOrstaff { 
    text-align:center;
    background-color: #009933;
} 
#menuOrstaff ul { 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    list-style-type:none; 
} 
#menuOrstaff ul a:link , ul a:visited{ 
    display:block; 
    padding:18px; 
    text-decoration:none; 
    color:white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
} 
#menuOrstaff ul a:hover {
    background-color: #ff9900; 
} 
#menuOrstaff ul li{ 
    float:left; 
    width:auto; 
    
}
.searchbarstaff  {
    float: next;
    width: 130px;
    padding: 9px;
    margin-right: 2px;
    border: 1px solid grey;
    margin-top: 10px;
}
.searchbuttonstaff  {
  float: next;
  width: 35px;
  padding-top: 20px;
  padding-bottom: 11px;
  background: url(images/search4.png) no-repeat center;
  background-color: white;
  font-size: 30px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right: -320px; 
}
.searchbuttonstaff:hover{
    background-color:  #ff9900;
}
.fa-searchstaff:hover {
    background-color:  #ff9900;
}
#contentstaffindex{
     width: auto;    
     height: 580px;
     background-image: url(images/staffarea.png);
    }
#contentstaffindex h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #00b2ff;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
} 
#contentstaffindex p{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 120px;
    text-align: center;
} 
#contentstaff h3{
    font-size: 30px;
    font-family: sans-serif;
    color:  #00b2ff;
    margin-top: 20px;
    text-align: center;
} 
#contentstaff h3{
    font-size: 30px;
    font-family: sans-serif;
    color:  #00b2ff;
    margin-top: 20px;
    text-align: center;
} 
#contentstaff p{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
} 
.contentstaff2 h1{
    font-size: 30px;
    font-family: sans-serif;
    color:  #00b2ff;
    margin-top: 30px;
    }
    
       
.header_topuser {
    text-align:center;   
    background-color: black;
    width: auto;
}     
.header_topuser ul {
    text-align:center;
    background-color: violet;
    list-style-type:none;      
}     
.header_topuser ul li{ 
    float:right; 
    width:120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #009933; 
    color: blue;
    font-family: sans-serif;      
   } 
.header_topuser ul a:link , ul a:visited{ 
    display:block; 
    padding:10px; 
    text-decoration:none; 
    color: white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
    }
.header_topuser ul a:hover {
    background-color: #3b3b40; 
} 
.header topuser ul li{ 
    float:left; 
    width:120px; 
}
.header_top2user{    
    text-align:center;   
    width: auto;}
.header_top2user ul{    
    text-align:center;
    list-style-type:none;}
.header_top2user ul li{
    float: right; 
    width:170px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 200px;
    color:blue;
    font-family: sans-serif;  }
#menuOruser { 
    text-align:center;
    background-color: #009933;
} 
#menuOruser ul { 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    list-style-type:none; 
} 
#menuOruser ul a:link , ul a:visited{ 
    display:block; 
    padding:18px; 
    text-decoration:none; 
    color:white; 
    font-family: sans-serif; 
    text-transform:uppercase; 
} 
#menuOruser ul a:hover {
    background-color: #3b3b40; 
} 
#menuOruser ul li{ 
    float:left; 
    width:auto; 
    
}
.searchbaruser  {
    float: next;
    width: 130px;
    padding: 9px;
    margin-right: 2px;
    border: 1px solid grey;
    margin-top: 10px;
}
.searchbuttonuser  {
  float: next;
  width: 35px;
  padding-top: 20px;
  padding-bottom: 11px;
  background: url(images/search4.png) no-repeat center;
  background-color: white;
  font-size: 30px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-right: -320px; 
}
.searchbuttonuser:hover{
    background-color:  white;
}
.fa-searchuser:hover {
    background-color:  #ff9900;
}
#contentuserindex{
     width: auto;    
     height: 580px;
     background-image: url(images/userarea.png);
    }
#contentuserindex h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #ff9900;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
} 
#contentuserindex p{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 120px;
    text-align: center;
} 
#contentuser h3{
    font-size: 30px;
    font-family: sans-serif;
    color:  #ff9900;
    margin-top: 20px;
    text-align: center;
} 
#contentuser h3{
    font-size: 30px;
    font-family: sans-serif;
    color:  #ff9900;
    margin-top: 20px;
    text-align: center;
} 
#contentuser p{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
} 
.contentuser2 h1{
    font-size: 30px;
    font-family: sans-serif;
    color:  #ff9900;
    margin-top: 30px;
    }
#corniceformuser{
    margin-left: 350px;
    width:300px;
    height: auto;
    border: solid orange;
    border-width: 5px;
    align-content:center;
    border-spacing: 0;
    padding:90px;
} 
#profilouser{
        padding-top:20px;
        text-align: center;
        margin-top: 30px;
        font-family: sans-serif;
    }
#profilouser table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
        }
.article h2{
    margin-left: 520px;
    font-family: sans-serif;
    color: #ff9900;
    }
.profilefieldset {
    width: 800px;
}

.profiletopfieldset {
    width: 800px;
    text-align: center;
    margin-left: 170px;
    font-family: sans-serif;
     border: solid #ff9900;
}

.profiletopfield {
    font-size: 25px;
    font-weight: bold;
}

.profileimg {
    margin: 5px 20px 5px 5px;
    height: 142px;
    float: left;
    border: solid #ff9900;
    margin-left: 530px;
    font-family: sans-serif;
    text-align: center;
}
#profilouser{
       text-align: center;
        margin-left: 380px;       
        font-family: sans-serif;
    }
#profilouser table tbody tr td{
        padding-top: 20px;
        padding-left:  20px;
    }
.profileTable  {
    text-align: center;
    margin-left: 320px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    }
.profiletopfieldset table tbody th  td {
    margin-left: 20px;

    }
.profiloButton { 
    margin-top: 10px;
    margin-left: 560px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #ff9900;
    }
.insertuserButton{
     margin-top: 10px;
    margin-left: 10px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ff9900;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
         }
#tabellaFaqpublic{
   
    width:1000px;
   font-family: sans-serif;
}
 .tabfaqpublic table {
    width: inherit;
    margin-left: 80px;
    font-family: sans-serif;
}
#tabellafaqpublic tr th {
    font-family: sans-serif;

}

.tabfaqpublic th {
    border-bottom: 5px solid #009933;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #009933;
    text-decoration:none; 
}

.tabfaqpublic td {
    border-bottom: 1px solid #009933;
    border-left: 1px solid #009933;
    border-right: 1px solid #009933;
    padding: 6px 8px;
}    
.inviamail{
        padding-bottom: 10px;
        text-align: center;     
        font-family: sans-serif;
    }
 input#send.sendbutton{
        background-color: #009933;
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-family: sans-serif;
        border: 1px solid white;
        font-size: 20px; 
        cursor: pointer;
    }
.inviamail{
       padding-bottom: 10px;
        text-align: center;     
        font-family: sans-serif;
    }
 textarea#body.inviamailmessage{
      padding-bottom: 110px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      text-align: center;
       font-family: sans-serif; 
    }
input#sender.inviamail{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
     font-family: sans-serif; 
    }
    input#namesender.inviamail{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
     font-family: sans-serif; 
    }
    input#subject.inviamail{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
     font-family: sans-serif; 
    }
.inviamailmessage {
        padding-top: 5px;
        padding-left:  260px;
        padding-right: 260px;
    }
 input.hidden {
    position: absolute;
    left: -9999px;
}
.tabstaff table {
    width: inherit;
    margin-left: 80px;
    font-family: sans-serif;
}
#tabellastaff tr th {
    font-family: sans-serif;

}

.tabstaff th {
    border-bottom: 5px solid #00b2ff;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}

.tabstaff td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 8px;
}    
#tabellastaff{
   
    width:1000px;
   font-family: sans-serif;
}
.insertstaffButton { 
    margin-left: 30px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #00b2ff;
    }
    #desc-mex{
        font-family: sans-serif;
        color: #00b2ff;
    }
    #mex_page input{
        margin-left: 130px;
    }
    #contentviewstaff h1{
    font-family: sans-serif;
    color: #00b2ff;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    }
    .tabuser table {
    width: inherit;
    margin-left: 80px;
    font-family: sans-serif;
}
  .tabuserstorico table {
    width: inherit;
    margin-left: 40px;
    font-family: sans-serif;
}
#tabellauser tr th {
    font-family: sans-serif;

}

.tabuser th {
    border-bottom: 5px solid #ff9900; 
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}
.tabuserstorico th {
    border-bottom: 5px solid #ff9900; 
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}

.tabuser td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 8px;
}    
.tabuserstorico td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 8px;
}   
#tabellauser{
   
   width:1000px;
   font-family: sans-serif;
}
.insertuserButton { 
    margin-left: 30px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #ff9900; 
    }
    #contentviewuser h1{
    font-family: sans-serif;
    color: #ff9900; 
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    }
 #scrivimessaggio{
        text-align: center;
              
        font-family: sans-serif;
    }
 .servicesfieldset {
    width: 800px;
}
.servicesfieldset {
    width: auto;
    height: auto;
}

.servicestopfieldset {
    width: auto;
    height: auto;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
     border: solid green;
}
.servicestopfieldset legend b{
    font-family: sans-serif;
    text-justify: auto;
    color: green;
    font-size: 25px;   
      
    }
 .tabservices table {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
    font-family: sans-serif;
}
#tabellaservices tr th {
    font-family: sans-serif;

}

.tabservices th {
    border-bottom: 5px solid #009933;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}

.tabservices td {
    border-bottom: 1px solid #009933;
    border-left: 1px solid #009933;
    border-right: 1px solid #009933;
    padding: 6px 8px;
}    
.tabservicespresta table {
    width: inherit;
    margin-left: 300px;
    margin-right: 300px;
    font-family: sans-serif;
}
#tabellaservicespresta tr th {
    font-family: sans-serif;

}

.tabservicespresta th {
    border-bottom: 5px solid #009933;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: center;
}

.tabservicespresta td {
    border-bottom: 1px solid #009933;
    border-left: 1px solid #009933;
    border-right: 1px solid #009933;
    padding: 6px 8px;
}    
.storicoButton { 
    margin-top: 10px;
    margin-left: 160px;
    margin-right:  30px;       
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #ff9900;
    }

    #scrivimessaggio{
        text-align: center;
          margin-left: 240px;    
        font-family: sans-serif;
    }
    .servicesfieldset {
    width: auto;
    height: auto;
}

.servicestopfieldset {
    width: auto;
    height: auto;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
     border: solid green;
}
.servicestopfieldset legend b{
    font-family: sans-serif;
    color: green;
    font-size: 25px;   
      
    }
    #tabellaserv{
   
    width:1000px;
   font-family: sans-serif;
 
}
#tabellaserv tr th {
    font-family: sans-serif;

}



.servicesButton { 
           
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: green;
    
    }
   
    .staticpresta{
  height:auto;
  width:1200px;
  background-color: white;
  
}
.staticpresta h1{
    margin-top: 3px;
    font-family: sans-serif;
    color: #009933;
    font-size: 30px;
}
.staticpresta p{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
   color:#009933;
}

.tabprestapublic table {
    width: inherit;
    margin-left: 80px;
    font-family: sans-serif;
}
.tabprestapublic th {
    border: 5px solid #009933;
    color: green;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 8px;
    text-align: center;
}

.tabprestapublic td {
    border-bottom: 1px solid #009933;
    border-left: 1px solid #009933;
    border-right: 1px solid #009933;
    padding: 6px 8px;
}    
#tabellaPrestapublic{
   
    width:1000px;
   font-family: sans-serif;
}
 
#tabellaPrestapublic tr th {
    font-family: sans-serif;
    color: green;
    border: 3px solid #009933;
 

}
#prestaButton{
    bottom:200px;
    margin-left: 50px;
}

.serviceButton { 
           
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: green;
    
    }
   table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: white;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid white;
  padding: 3px 2px;
  text-align: center;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #00b2ff;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
   width: 100%;
}
table.blueTable thead th:first-child {
  border-left: none;
   width: 100%;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
#agendaform{
    width:500px;
}
#contentagendabutton{
        display:inline;
        margin: auto;
        width: 500px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .agendaButton { 
    
    width:30%;
    text-align: center;
    font-size: 20px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #00b2ff;
    
    }
    .prenotaTable  {
      padding:5px;
    text-align: center;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    }
    .prenotaButton { 
         margin-top: 10px;
         
    font-size: 15px;         
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;  
    font-family: sans-serif; 
    cursor: pointer;
    border: 1px solid white;
    text-decoration:none; 
    background-color: #ff9900;
    }
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height:250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    width:auto;
    height:auto;
  padding: 2px 16px;
}
.container h4{
    width:300px;
   
}
#cc{
    float:next;
    padding:20px;
   align-content: center;
   text-align: center;
   
}
.contenutoservices{
   
    height:auto;  
     display: flex;
    flex-direction: row;
    justify-content: center;
    clear:left;
   flex-flow: row wrap;
   flex-basis:1200px;
}
   #contentservbutton{
        display: block;
        margin: auto;
        width: auto;
        margin-top: 20px;
        margin-left: 5px;
    }
     .cardd {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height:auto;
}

.cardd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardd h2 {
text-align: left;
}

.containerd {
    width:auto;
    height:auto;
  padding: 2px 16px;
}
.container h4{
    width:300px;
   
}
#cd{
    float:next;
    padding:20px;
   align-content: center;
   text-align: center;
}
#dett_services{
    height:auto;
    width:1000px;
    margin-left: 100px;
   
}
.prenotatopfieldset {
    width: 800px;
    text-align: center;
    margin-left: 170px;
    font-family: sans-serif;
     border: solid #00b2ff;
}
.prenotatopfieldset table tbody th  td {
    margin-left: 20px;

    }
    #contentagendabutton {
    /* display: inline; */
    /* margin: inherit; */
    width: 485px;
    margin-top: 10px;
    margin-left: 3px;
    float: right;
}
.agendaButton {
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid white;
    text-decoration: none;
    background-color: #00b2ff;
}